#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;    
    
}

#homecard{
    display: flex;
    flex-direction: column;
}

#text{
    text-align: center;
}

#topHeader{
    margin-bottom: 0;
}

#bottomHeader{
    margin-top: 0;
}

#headers{
    margin-top: 0;
    margin-bottom: 0;
}

#specialheaders{
    margin-top: 0;
    
}